################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AlipayPlayground/v17
/.vs/AlipayPlayground/config
/AlipayPlayground/obj/Debug/net6.0/AlipayPlayground.csproj.AssemblyReference.cache
